header {
    height: 80px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 15px;
  }
 header img {
    margin: 0 16px;
  }
  header .r-menu{
    margin: 0 16px;
  }
